body{
    background: url('https://image.freepik.com/free-vector/dark-blue-vector-background-with-dots-and-lines_6869-1696.jpg');
    background-size: cover;
}

.black{
    background: black;
}
.header{
    display: grid;
    grid-template-columns: 30% 10% 10% 14% 10% 10% 16%;
    height: 10vh;
    width: 100%;
    background: black;

    
}
.main{
    display: grid;
    margin: 15px;
    margin-left: 100px;
    justify-content: start;
    font-size: 40px;
    color: rgb(115, 202, 78);
}
.sub{
    margin: 15px;
  margin-top: 28px;
    font-size: 18px;
    color: aliceblue;
}
.SIGNUP{
    margin-top: 20px;
    
    border-radius: 25px;
    color:white;
    border:2px solid blue;
    background: black;
    height: 40px;
    width:150px;

    font-size: 18px;
    
    
}
a {
    text-decoration: none;
    display: inline-table;
  }
  
a:link {
 
    color:white;
}

a:visited {
  
    color:white;
}

a:hover {
    
    color:lightblue;
}

a:active {
  
    color:white;
}
nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
 
    box-sizing: border-box;
    transition: .3s;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: white;
    border-bottom: 2px solid lightblue;
    color: black;
    justify-content: center;
    

}

.btn{
    width: 150px;
    height: 45px;
    border-radius: 15px;
font-size: 24px;
background: lightblue;
}
.btn:hover{
    background: rgb(115, 202, 78);
}
.length{
    width: 40%;
    
}

.sig{
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px; 

}