
@media (min-width: 1025px) and (max-width: 2000px){


.header{
    display: grid;
    grid-template-columns: 20% auto auto auto auto auto auto auto auto;
    grid-template-rows: 12vh;
    height: 12vh;
    width: 100%;
    background: black;

    
}
.main{
    display: grid;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 70px;
    justify-content: start;
    font-size: 40px;
    color: rgb(115, 202, 78);
}
.sub{
    margin: 15px;
    margin-top: 28px;
    font-size: 18px;
    color: aliceblue;
}
.SIGNUP{
    margin-top: 18px;
    
    border-radius: 25px;
    color:white;
    border:2px solid blue;
    background: black;
    height: 40px;
    width:100px;

    font-size: 16px;
    
    
}
.black{
    background: black;
}


.startGrid{
   display : grid;
   grid-template-columns:100px  auto;
   height: 80px;
   width: 100%;
}
.ANCONS{
    display: grid;
    margin: 15px;
    margin-left: 100px;
    justify-content: start;
    font-size: 40px;
    color: rgb(115, 202, 78);
}

.second2{
    display:grid;
    grid-template-columns: 100px 150px;
    justify-content: end;
    margin: 15px;
    color: #ffffff;

}
a {
    text-decoration: none;
    display: inline-table;
  }
  
.LOGIN{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    color: #ffffff;
    margin-top: 20px;
    font-size: 22px;
  
}

.grid2{
    display:grid;
    grid-template-columns: 60% 40%;
    height: 80vh;
}
.ptag{
/* 
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 10px; */
    margin-top: 100px;
    font-size: 20px;
    color:rgb(115, 202, 78);
    
    
}
.ptag1{
    color:white;
    margin-right:150px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}
.ptag2{
    color:rgb(117, 80, 80);
    margin-right:150px;
    margin-left: 100px;
    margin-top:20px;
    margin-bottom:50px;
    font-size: 20px;
    
}
.img{
    height: 350px;
    width: 350px;
    margin-left: 55px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
   
}
body{
    background: url('https://image.freepik.com/free-vector/dark-blue-vector-background-with-dots-and-lines_6869-1696.jpg');
    background-size: cover;
}



/* what is block chain */
.wIBlock{
    display: grid;
    grid-template-columns: 60% 40%;
    
}

.mainHead{
    color: rgb(115, 202, 78);
    font-size: 30px;
  
}
.subHead{
    color: #ffffff;
    font-size: 20px;
}

.mainImg{
    width: 100%;
    height: 500px;
    margin-left: 20px;
    justify-content: center;
    margin-top: 30%;
    margin-bottom: 20%;
}
.row{
    display: grid;
    grid-auto-rows: 100px 40px 40px 60px 60px 60px 60px ;
    color: aliceblue;

}
.contact{
    font-size: 40px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    font-family: sans-serif;
    color: (250,250,250,0.8)

}
.email{
    display: grid;
    grid-template-columns: 42% 68%;
    grid-gap: 20px;

}
.info{
    display: grid;
    justify-self: end;
    margin-top: 10px;
    margin-left: 10px;

}
.info1{

    justify-content: start;
    font-size: 20px;
}
.name{
    border: none;
    width: 500px;
}
.email1{
    border: none;
    width: 500px;
}
.message{
    border: none;
    width: 500px;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: black;
    border-bottom: 2px solid lightblue;
    color: white;
    justify-content: center;
}
.submit{
    background: lightblue;
    width: 92px;
    height: 46px;
    border-radius: 25px;
}
.submit:hover{
    background: rgb(115, 202, 78)
}

a:link {
 
    color:white;
}

a:visited {
  
    color:white;
}

a:hover {
    
    color:lightblue;
}

a:active {
  
    color:white;
} 



.contanier{
    margin-left: 10%;
    margin-right: 10%;
}

nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    transition: .3s;
}

.tagLine{
margin-left: 50%;
margin-top: 0%;
font-size: 16px;
color: #55efc4;
}
.grid3{
    display: grid;
    grid-template-columns: 40% auto;
}
.img1{
    width: 90%;
    height: 60vh;
    margin-top: 30%;
    margin-right: 20;
}
.grid4{
    display: grid;
    grid-template-columns: 40% auto ;
}
.img2{
    width: 90%;
    height: 50vh;
    margin-top: 10%;
    margin-right: 20;
}
.grid5{
    display: grid;
    grid-template-columns: auto 30%;
}
.img3{
    width: 100%;
    justify-content: center;
    height: 80%;
    margin-left: 20px;
    margin-top: 22%;

}
.grid6{
    display:grid;
    grid-template-columns: 60% auto;
}
.img4{
    width:90%;
    justify-content: center;
    height: 80%;
    margin-right: 20px;
    margin-top: 20%;
}
}

@media (min-width: 320px) and (max-width: 1025px) {
    nav{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100px;
     
        box-sizing: border-box;
        transition: .3s;
    }
    .main{
        display: grid;
        margin-top: 15px;
        margin-bottom: 0px;
      
        justify-content: center;
        font-size: 30px;
        color: rgb(115, 202, 78);
    }
    .header{
        display: grid;
        grid-template-columns: 20% auto auto ;
        grid-template-rows: 12vh;
        height: 100%;
        width: 100%;
        background: black;
    
        
    }
    .black{
        background: black;
    }
    

    .submit{
        background: lightblue;
        width: 90px;
        height: 46px;
        border-radius: 25px;
    }
    .submit:hover{
        background: rgb(115, 202, 78)
    }
    input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        background: black;
        border-bottom: 2px solid lightblue;
        color: white;
        justify-content: center;
    }
    body{
      background:  url('https://image.freepik.com/free-vector/dark-blue-vector-background-with-dots-and-lines_6869-1696.jpg');
      color: white;
    }

    
   
  .grid2{
      display: grid;
      grid-template-rows: auto auto;
  
  }
  .ptag{
    /* 
        margin-left: 100px;
        margin-right: 150px;
        margin-top: 100px;
        margin-bottom: 10px; */
        margin-top: 100px;
        font-size: 15px;
        color:rgb(115, 202, 78);
        
        
    }
  .img{
      grid-row: 1;
      width: 100%;
      height: 100%;
      margin-left: 45px;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
     

  }
  .subGrid{
      grid-row: 2;
      width: 100%;
      height: 100%;
      margin-left: 28px;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
  }  
  .wIBlock{
    display: grid;
    grid-template-rows: auto auto;
    
}
.mainHead{
    color: rgb(115, 202, 78);
    font-size: 18px;
  
}
  .mainImg{
    grid-row: 1;  
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
}
.end{
    grid-row: 2;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}  
.subGrid{
    grid-row: 2;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}  
  .grid3{
    display: grid;
    grid-template-rows: auto auto;
}
.img1{
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   


}
.subGrid{
    grid-row: 2;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}  
.grid4{
    display: grid;
    grid-template-rows: auto auto ;
}
.img2{
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}  
.subGrid{
    grid-row: 2;
    width: 100%;
      height: 100%;
      margin-left: 28px;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
  }  
.grid5{
    display: grid;
    grid-template-rows: auto auto;
}
.img3{
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}  
.subGrid{
    grid-row: 2;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}  
    .grid6{
        display:grid;
        grid-template-rows: auto auto;
    
    
    }
    .img4{
        grid-row: 1;
        width: 100%;
        height: 100%;
        margin-left: 28px;
        justify-content: left;
        align-items: center;
        margin-top: 40px;
    }  
    .subGrid{
        width: 100%;
        height: 100%;
        margin-left: 28px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }  

    
.contact{
    font-size: 18px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    font-family: sans-serif;
    color: (250,250,250,0.8)

}
.email{
    display: grid;
    grid-template-columns: 32% 68%;
    grid-gap: 20px;

}
.info{
    display: grid;
    justify-self: end;
    margin-top: 8px;
    margin-left: 8px;

}
.info1{

    justify-content: start;
    font-size: 15px;
}
.name{
    border: none;
    width: 300px;
}
.email1{
    border: none;
    width: 300px;
}
.message{
    border: none;
    width: 300px;
}

.main{
    display: grid;
    margin-top: 15px;
    margin-bottom: 0px;
    
    justify-content: start;
    font-size: 30px;
    color: rgb(115, 202, 78);
}
.tagLine{
    margin-left: 40%;
    margin-top: 0%;
    font-size: 10px;
    color: #55efc4;
    }
    .sub{
        display: none;
    }
    .SIGNUP{
        margin-top: 18px;
        border-radius: 20px;
        color:#ffffff;
        border:2px solid rgb(76, 0, 255);
        background: black;
        height: 30px;
        width:90px;
        float: right;    
        font-size: 14px;
        
        
    }

}
